@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@200;400&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.containar {
  background-color: #2b2922;
  color: #ffffff;
}

/* nav-bar-section */

nav {
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  /* background-color: #2b2922; */
}

.nav-items {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
}

.nav-item {
  margin: 0 15px;
  list-style-type: none;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 300;
}

.nav-item:hover {
  font-weight: 800;
}

.getStarted {
  border: 1px solid #a08f36;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #2b2922;
  color: #a08f36;
}

.content-section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* upper-side-container */

.upper-container {
  display: flex;
  flex-direction: row;
  flex: 0.4;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.heading {
  font-size: 80px;
  font-family: "Montserrat";
}

.subHeading {
  font-size: 20px;
  font-family: "Montserrat";
}

/* lower-side-container */

.lower-container {
  flex: 0.6;
  background: url("../assets/courtRoom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
